{
  "extends": ["standard", "standard-trailing-commas", "standard-react"],
  "globals": {
    "graphql": true
  },
  "rules": {
    "jsx-quotes": "off",
    "space-before-function-paren": "off"
  }
}
