// This file full of sass variables can be imported from multiple places.

// Import the initial variables from bulma to make them available and allow customization.
// https://bulma.io/documentation/customize/with-node-sass/
@import "~bulma/sass/utilities/initial-variables"

// Config vars
// Kaldi logo brand color: #FD461E
$kaldi-red: #D64000
$kaldi-red-invert: #fff

$primary: $kaldi-red
$primary-invert: $kaldi-red-invert
$body-color: #333
$black: #2b2523
