@import "~bulma/sass/utilities/initial-variables"

// Config
$kaldi-red: #FD461E
$kaldi-red-invert: #fff

$primary: $kaldi-red
$primary-invert: $kaldi-red-invert

// Helper Classes
.full-width-container
  width: 100vw
  position: relative
  left: 50%
  right: 50%
  margin-left: -50vw
  margin-right: -50vw


@import "~bulma"
